* {
    margin: 0;
}

.content {
    background-color: rgb(197, 197, 197);
    width: 800px;
    height: 100%;
    margin: 0 auto;
}
#fir_chap {
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
}