* {
    margin: 0;
    font-family: 'AppleSDGothicNeoL00';
}

.content {
    /* background-color: rgb(197, 197, 197); */
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

#fir_con {
    display: flex;
    align-items: center;
}

#fir_chap {
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    position: absolute;
}

#fir_sector {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

#fir_sector img {
    width: 40%;
    float: left;
}

#title {
    text-align: center;
    font-size: 45px;
    margin-left: 25px;
}